*{
    margin: 0;
    padding: 0;
}
body , html{
    margin: 0;
    padding: 0;
}
body {
    position: fixed;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  html{
    width: 100%;
  }
  .card{
    margin: 20px;
    padding: 10px;
  }
  .me-2{
    width: 1000px;
    height: auto;
  }